@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 35 4% 95%;
    --foreground: 35 4% 10%;
    --card: 35 4% 90%;
    --card-foreground: 35 4% 15%;
    --popover: 35 4% 95%;
    --popover-foreground: 35 95% 10%;
    --primary: 35 90% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 10% 77%;
    --secondary-foreground: 0 0% 0%;
    --muted: -3 10% 85%;
    --muted-foreground: 35 4% 40%;
    --accent: -3 10% 80%;
    --accent-foreground: 35 4% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 35 4% 90%;
    --border: 35 20% 77%;
    --input: 35 20% 50%;
    --ring: 35 90% 31%;
    --radius: 0.5rem;
   }
  .dark {
    --background: 35 10% 10%;
    --foreground: 35 4% 90%;
    --card: 35 4% 10%;
    --card-foreground: 35 4% 90%;
    --popover: 35 10% 5%;
    --popover-foreground: 35 4% 90%;
    --primary: 35 90% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -3 10% 25%;
    --muted-foreground: 35 4% 65%;
    --accent: -3 10% 25%;
    --accent-foreground: 35 4% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 35 4% 90%;
    --border: 35 20% 50%;
    --input: 35 20% 50%;
    --ring: 35 90% 31%;
    --radius: 0.5rem;
   }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
